*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:rgb(136, 175, 160);
}
#panel{
    width: 80%;
    height: 90%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    padding: 0 30%;
    height: 12%;
    background-color: rgb(12, 131, 58);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem{
   
    display: flex;
    align-items: center;
    gap: 20px;

}
.box{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(18, 75, 18);
    font-size: 25px;
    font-weight: 600;
}
#pbtm{
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(72, 104, 72);
    color: white;
    font-weight: 500;
}
.bubble:hover{
    background-color: rgb(8, 56, 8);
    cursor: pointer;
}
#endGame{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#over{
   color: rgb(18, 75, 18);
  
}
#btn{
    background-color: rgb(8, 56, 8);
    cursor: pointer;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
}


